<%= content_for(:title, "Profile") %>

<h2> <%= @user.username %> : Here is your profile </h2></br>

<h4> Username: @user.username %> </h4></br>
<h4> Email: @user.email %> </h4></br>

<h4> Your Tweets: </h4>
<%= link_to "Add a Tweet", new_tweet_path, :class => "btn btn-default", id: "new_tweet", remote: true  %></br>
<strong><div class = "tweet_alert"></div></strong></br>


	 <% @user.tweets.each do |tweet| %>
	   <table>
	  <tr>
	   <%= tweet.title %><br>
	   <%= tweet.text %><br>
	</tr></br>

	<% end %>
<div class="show_tweettitle_on_profile_page"></div>
<div class="show_tweettext_on_profile_page"></div></br>

</br></br>


</br>

<%= link_to "Home Page", root_path, :class => "btn btn-default" %>